.footer {
    background-color: $mBgDarker;

    .m-logo {
      height: 32px;
      width: 131px;
    }

    .mobile-order-2 {
      order: 2;

      @include media-breakpoint-up(sm) {
        order: 0 !important;
      }
    }

    ul {
      list-style: none;
      margin: 0px;
      padding: 0px;
      margin-top: 10px;

      li {
        margin: 5px 0px;
        text-transform: capitalize;
      }
    }

    .footer-link {
      color: $footer-link-color;
      font-size: 15px;
      line-height: 30px;
      opacity: 0.6;

      .footer-svg-icon {
        height: 16px;
        width: 16px;
        margin-right: 10px;
        cursor: pointer;
        opacity: 0.6;
        fill: $white;

        &:hover {
          opacity: 0.9;
        }
      }

      &:hover {
        .footer-svg-icon {
          opacity: 0.9;
        }
        color: $text-secondary;
      }
    }
  }
